<template name="foodSubmit">
	<form class="main form page">
		<div class="form-group">
			<label class="control-label" for="food">Food</label>
			<div class="controls">
				<input name="food" id="food" type="text" value="" placeholder="" class="form-control"/>
			</div>
			<label class="control-label" for="serving_size">Serving Size</label>
			<div class="controls">
				<input name="serving_size" id="serving_size" type="text" value="" placeholder="" class="form-control"/>
			</div>
			<label class="control-label" for="protein">Protein</label>
			<div class="controls">
				<input name="protein" id="protein" type="text" value="" placeholder="" class="form-control"/>
			</div>
			<label class="control-label" for="carbs">Carbs</label>
			<div class="controls">
				<input name="carbs" id="carbs" type="text" value="" placeholder="" class="form-control"/>
			</div>
			<label class="control-label" for="fats">Fats</label>
			<div class="controls">
				<input name="fats" id="fats" type="text" value="" placeholder="" class="form-control"/>
			</div>
			<label class="control-label" for="calories">Calories</label>
			<div class="controls">
				<input name="calories" id="calories" type="text" value="" placeholder="" class="form-control"/>
			</div>
		</div>
		<input type="submit" value="Submit" class="btn btn-primary"/>
		<input type="submit" value="Cancel" class="btn btn-primary"/>
	</form>
</template>